/*--delice.css--*/

body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}     
.header__logo{
    font-family: 'Shrikhand', cursive;
} 
.footer__logo h2{
    font-family: 'Shrikhand', cursive;
    font-size: 1.1em;
    color: #fff;
    font-weight: normal;
}
.restaurant-name h1{
    font-family: 'Shrikhand', cursive;
}  
a, p, h2, h3, div, ul, li{
    font-family: 'Roboto', sans-serif;
}  
/*--header--*/
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo{
    padding-right: 75px;
    padding-top: 25px;
    padding-bottom: 20px;
    color: #000;
 }  
 .header__logo .fa-arrow-left{
    padding-right: 55px;
    color: #000;
}
.picture{
    display: flex;
    flex-direction: column;
    width: 100%; 
}
 /*--Main--*/
.grey-box{
    background-color: #f5f5f5;
    border-top-left-radius: 40px;
    border-top-right-radius:40px;
    position: absolute;
    margin-top: -30px;    
    padding-bottom: 20px;
    width: 100%;
}
.restaurant-name{
    display: flex;
    position: relative;
 }
.restaurant-name h1{
    font-size: 1.5em;
    padding-left: 25px;
 }
.heart i{
    font-size: 20px;
    position: absolute;
}
.heart .fas{
    color: transparent;
    background-image: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
}
.heart:hover .fas{
    opacity: 1;
    cursor: pointer;
}

/*--Section--*/
.menu__card{
    padding-left: 10px;
    padding-right: 10px;
}
.subtitle{
    font-size: 1em;
    font-weight: normal;
    margin-left: 15px;
    border-bottom: 2px solid #99E2D0;
    padding-bottom: 5px;
    width: 12%; 
}
h3{
    font-size: 0.9em; 
    margin: 0;
}
p{
    width: 90%; 
}
p, .price, .checkbox{
    display: inline-block;
    margin: 0;
    font-size: 0.8em;
}
.menu__details .menu__text-1, .menu__text-2, .menu__text-3{
    width: 95%;
    height: 50px;
    background-color: #fff;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 8px;
    margin-bottom: 25px;
}
.menu__details .menu__text-4, .menu__text-5, .menu__text-6{
    width: 95%;
    height: 50px;
    background-color: #fff;
    box-shadow: 3px 3px 3px #ceccccec;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 8px;
    margin-bottom: 25px;
}
.menu__details .menu__text-7, .menu__text-8, .menu__text-9{
    width: 95%;
    height: 50px;
    background-color: #fff;
    box-shadow: 3px 3px 3px #ceccccec;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 8px;
    margin-bottom: 25px;
}
.menu__text-1:hover,
.menu__text-2:hover,
.menu__text-3:hover,
.menu__text-4:hover,
.menu__text-5:hover,
.menu__text-6:hover,
.menu__text-7:hover,
.menu__text-8:hover,
.menu__text-9:hover{
    cursor: pointer;
}
.
.command-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 25px;
    height: 50px;
    margin: 30px 80px;
    cursor: pointer;
}
.command-btn a{
    color:  #fff;
    text-decoration: none;
}
/*--Footer--*/
footer{
    background-color: rgb(63, 61, 61); 
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.footer__logo h2{
    padding-left: 40px;
}
ul li{
    list-style-type: none;
    padding-bottom: 5px; 
}
 .footer__links a{
    color: #fff; 
    text-decoration: none;
    font-size: 0.8em;    
}
.footer__links i{
    padding-right: 15px;
    color: #fff;
    font-size: 0.8em;
}
 
            
/*------------------------Mobile--------------------*/

 @media screen and (max-width: 767px){
/*--Header M--*/
    .header__logo{
              
    }
/*--Main M--*/
    .grey-box{
               
    }  
    .restaurant-name{
    position: relative;    
     } 
    .heart{
        position: absolute;
        left: 320px;
        top: 25px;
    }
/*--Section M--*/
    .subtitle{
        border-bottom: 2px solid #99E2D0;
        padding-bottom: 5px;
        width: 12%; 
    }
/*--Footer M--*/
    .footer{
    width: 100%;
    }
}
            
/*-------------------Tablette----------------*/

@media screen and (min-width: 768px) and (max-width: 1280px){
            
/*--Main T--*/ 
    .restaurant-name{
       
    } 
    .fa-heart{
        left: 700px;
        top: 25px;
    }      
/*--Section T--*/
    .subtitle{
        border-bottom: 3px solid #99E2D0;
        padding-bottom: 5px;
        width: 5%; 
    }                      
    
}
            
            
/*--------------------Desktop----------------*/

@media screen and (min-width: 1280px){

/*--Main D--*/ 
    .restaurant-name{
       
     } 
    .fa-heart{
        left: 1350px;
        top: 30px;
    }      
 /*--Section D--*/
    .subtitle{
        border-bottom: 3px solid #99E2D0;
        padding-bottom: 5px;
        width: 3%; 
    }           
            
    
}