
@media screen and (max-width: 767px){
   /*--MOBILE--*/ 

   body{
       margin: 0;
       padding: 0;
       box-sizing: 0;
   }
    .header__logo, title {
        font-family: 'Shrikhand', cursive;
    }

    html{
        font-family: 'Roboto', sans-serif;
    }
 
    .header__logo{
        margin: 35px 35px 5px 30px;
    }
    aside{
        margin: 30px 30px;
    }

    /*--Media query Header--*/
    .header__logo{
        display: flex;
        justify-content: center;
    }
     .header__logo a{
        font-size: 1em;
    }
    .search__location{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e2e2e2;
        width: 100%;
        height: 55px;
        border-top: 4px #d2d6d6 solid;
    }
    .search__icon{
        padding-right: 15px;
        padding-left: 25px;
    }
    .text_color::placeholder{
        color: black;
        font-weight: bold;
        font-size: 1.2em;
    }
    input{
        border: transparent;
        background-color: #e2e2e2;
    }
    /*--article--*/
    article{
        width: 100%; 
        height: 300px;     
        background-color: #F5F5F5; 
    }
    article h1{
        text-align: center;
        font-size: 1.5em;
        padding: 35px 50px 5px;
        margin-top: 0;
    }
    article h2{
        text-align: center;
        font-size: 1.1em;
        color: grey;
        padding: 0 20px 25px;
        font-weight: normal;  
    }
    article a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px transparent solid;
        border-radius: 50px;
        margin-right: 70px;
        margin-left: 70px;
        height: 50px;
    }
    .booking__btn-1{
       background-color: #FF79DA;
    color: #fff;
    }

    /*--Aside--*/
     aside .steps{
        display: flex;
        flex-direction: column; 
        background-color: ;  
     }   
    aside .button-2, .button-3, .button-4{
        display: flex;
        flex-direction: row;
        align-items: center; 
        text-decoration: none;
        border: 1px transparent solid;
        border-radius: 20px;
        box-shadow: 3px 3px 3px #ceccccec;
        width: 100%;
        height: 70px;
        background-color: #F5F5F5;
        margin-bottom: 20px;
    } 
    aside .round{
        width: 23px;
        height: 23px;
        border-radius: 100%;
        text-align: center;
        padding-top: 5px;
        background-color: #9356DC;
        color:  #fff;
        font-size: 0.9em;
        position: relative;
        right: 10px;
    }
    .icon{
        color: grey;
        font-size: 1.3em;
        padding-right: 20px;
        padding-left: 5px;
    }
    .text{
        font-weight: bold;
        color: #000;
    }

    /*--Section--*/
    #restaurants{
        width: 100%;
        background-color: #F5F5F5;
       
    }
    .places{
        flex-wrap: wrap;
       
        padding-top: 50px;
        width: 100%;
        height: auto;
    }
    .title{
       padding: 30px 25px 25px;
    }
    figure{
        margin-right: 16px;
        margin-left: 16px;
    }
    .restaurant-card{ 
        flex wrap: wrap;
        flex-direction: column;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: rgba(255, 255, 255, 0.904);
        width: 95%;
        height: 200px;  
        margin-bottom: 100px;
        width: auto;
    }
    .picture{
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;  
        
    } 
    .information{
        font-size: 0.95em;
        padding-top: 50px;
        padding-left: 15px; 
    }
    .information h3{
        margin-bottom: 0;
    
    }
    .new{
        width: 85px;
        height: 20px;
        background-color: #99E2D0;
        font-size: 0.9em;
        text-align: center;
        padding-top: 5px;
        color: #257e67;
        font-weight: bold;
        position: relative;
        bottom: 165px;
        left: 225px;
        height: 25px;
    }
    .fa-heart{
        font-size: 1.2em;
        padding-left: 300px;
        padding-bottom: 150px;
    }
    /*--Footer--*/
    footer{
       background-color: rgb(63, 61, 61); 
       padding: 20px;
    }
    .footer-logo{
        font-size: ;
        color: #fff;
    }
    ul li{
        list-style-type: none;
    }
    .footer-links a{
        color: #fff; 
        text-decoration: none;
        font-size: 0.9em; 
        padding-bottom: 5px;;    
    }
    .footer-links i{
       padding-right: 15px;
       color: #fff;
       font-size: 0.9em;
    }
}