/*****--Menus palette, note, française et délice-*****/

/*--------------Common-------------*/

body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}     
.header__logo{
    font-family: 'Shrikhand', cursive;
} 
.footer__logo h2{
    font-family: 'Shrikhand', cursive;
    font-size: 1.1em;
    color: #fff;
    font-weight: normal;
}
.restaurant-name h1{
    font-family: 'Shrikhand', cursive;
}  
a, p, h2, h3, div, ul, li{
    font-family: 'Roboto', sans-serif;
}  
/*--header--*/
.header__logo{
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    align-items: center;
    color: #000;
    padding-top: 25px; 
 }  
 .header__logo .fa-arrow-left{
    color: #000; 
    position: absolute;
    left: 15px; 
    bottom: 20px;    
}
.fa-arrow-left:hover{
    color: #FF79DA;
}
.picture{
    display: flex;
    flex-direction: column;
    width: 100%;
}
 /*--Main--*/
.grey-box{
    margin-top: -25px;
    background-color: #f5f5f5;
    border-top-left-radius: 40px;
    border-top-right-radius:40px;
    position: relative;  
    padding-bottom: 20px;
    width: 100%;
   
}
.restaurant-name{
    display: flex;
 }
.restaurant-name h1{
    font-size: 1.5em;
    padding-left: 25px;
 }
.heart i{ 
    font-size: 1.5em;
    position: absolute;
    right: 25px;
    top: 20px;
}
.heart .fas{
    color: transparent;
    background-image: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
}
.heart:hover .fas{
    opacity: 1;
    cursor: pointer;
}

/*--Section--*/
#menu__card{
    padding-left: 8px;
    padding-right: 8px;
}
.subtitle{
    font-size: 1em;
    font-weight: normal;
    margin-left: 15px;
    padding-bottom: 5px;
}
.legend{
    justify-content: space-between;
    position: relative;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 3px 4px #ceccccec;
    border-radius: 15px;
    margin-bottom: 25px;
}
.menu__text-1,
.menu__text-2,
.menu__text-3,
.menu__text-4{
    animation: show 2s ease-in-out 0.4s; 
}
.menu__text-5,
.menu__text-6,
.menu__text-7{
    animation: show 2s ease-in-out 1.1s; 
}
.menu__text-8,
.menu__text-9,
.menu__text-10{
    animation: show 2s ease-in-out 1.8s; 
}

@keyframes show{
    0%{
        opacity: 0;
        transform: translateY(25px);
    }
    40%{
        opacity: 1;
        transform: translateY(0);
    }
}

.menu__details .legend:hover{
    cursor: pointer;
}
h3, p{
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
h3{
    font-size: 1em;
    padding-bottom: 5px;
}
p{
    font-size: 0.85em;
}
.menu{
    display: flex;
    overflow: hidden;
}
.items{
    padding: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.price{
    font-size: .8em;
    margin-left: auto;
    padding: 15px 30px;
    display: flex;
    align-items: flex-end;
}
.checkbox{
    display: flex;
    right: 0;
    bottom: 0;
    padding: 22.5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #99E2D0;
    width: 30px;
    margin-right: -80px;
    transition: 0.5s; 
}
.menu:hover .checkbox{
   margin-right: 0;
}
.menu i{  
    display: grid;
    place-items: center;
    color: #99E2D0;
    background: white;
    width: 25px;
    height: 25px;
    font-size: 1em;
    border-radius: 50%; 
}
.menu:hover i{
    animation: spin 0.5s ease-in-out;
}


@-webkit-keyframes spin{
    0%{
        -webkit-transform: rotate(-270deg);
        transform: rotate(-270deg);
    }
    100%{
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}


.command-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 25px;
    height: 50px;
    cursor: pointer;
    box-shadow: 5px 5px 5px #8440D8;
}
.command-btn:hover{
    background: linear-gradient(#9356DC,#FF79DA);
    border-radius: 50px; 
    opacity: .85;
    box-shadow: 6px 10px 6px grey;
    transition: 200ms;
}
.command-btn a{
    color:  #fff;
    text-decoration: none; 
}

/*--Footer--*/
footer{
    background-color: rgb(63, 61, 61); 
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    width: 100%;
}
.footer__logo h2{
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
}
ul{
    padding-left: 0;
}
ul li{
    list-style-type: none;
    padding-bottom: 5px; 
}
 .footer__links a{
    color: #fff; 
    text-decoration: none;
    font-size: 0.8em;    
}
li a:hover,
li a:focus{
    text-decoration: underline #FF79DA;
}
.footer__links i{
    padding-right: 15px;
    font-size: 0.8em;
}
 
            
/*------------------------Mobile--------------------*/

 @media screen and (max-width: 767px){

/*--Header M--*/
    .header__logo{
       padding-right: 80px; 
    }

/*--Section M--*/
    .subtitle{
        border-bottom: 2px solid #99E2D0;
        width: 10%; 
    }
    .command-btn{
        margin: 40px 80px 20px;
    }

    /*--Footer M--*/
    .footer__logo h2, a{
        padding-left: 40px;
    }
}

/*-------------------Tablette----------------*/

@media screen and (min-width: 768px) and (max-width: 1280px){
 
/*--Header T--*/
    .picture{
        max-height: 400px; 
}

/*--Section T--*/
    .subtitle{
        border-bottom: 3px solid #99E2D0;
        width: 5%; 
    } 
    .command-btn{
       margin-right: 35%;
       margin-left: 35%;
       margin-top: 30px;
       margin-bottom: 10px;
    }
       
 /*--Footer T--*/
    footer{
        text-align: center;
    }
    .footer__logo h2{
        font-size: 1.6em;
    }
}
            
            
/*--------------------Desktop----------------*/

@media screen and (min-width: 1280px){

/*--HeaderD--*/
    .picture{
        max-height: 350px;
    }

/*--Main D--*/
    h1{
        margin-left: 40px;
        margin-bottom: 60px;
    }

 /*--Section D--*/
    .subtitle{
        border-bottom: 3px solid #99E2D0;
        width: 2.5%;
        height: 25px;
        width: small;
        position: relative;
        bottom: 25px;
        left: 0;
    } 
    .menu__details{
        display: flex;
        justify-content: center;
    }
    .legend{
        width: 345px;
        margin: 40px 15px 40px 0;  
    }   
    .command-btn{
        margin-right: 40%;
        margin-left: 40%;
        margin-top: 30px;
        margin-bottom: 30px;
    }  
    
 /*--Footer D--*/
    footer{
        text-align: center;
    }
    .footer__logo h2{
        font-size: 1.6em;
    }
}

/*--end--*/