/*--Homepage--*/

/*----------------Common---------------*/

body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
 .header__logo,  .footer-logo h2{
     font-family: 'Shrikhand', cursive;
 }

 a, p, h1, h2, h3, div, ul, li{
     font-family: 'Roboto', sans-serif;
 }

/*--Header--*/
.header__logo{
    display: flex;
    justify-content: center;
}
.search__location{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}
.search__icon{
    padding-right: 15px;
    padding-left: 25px;
}
input{
    border: transparent;
    background-color: #e2e2e2;
}

/*--Main--*/
/*--article--*/
article{
    width: 100%;     
    background-color: #F5F5F5; 
    box-shadow: 2px 2px 2px #d2d6d6;
}
article h1{
    text-align: center;
    font-size: 1.5em;
    padding: 35px 50px 5px;
    margin-top: 0;
}
article h2{
    text-align: center;
    font-size: 1.1em;
    color: grey;
    padding: 0 20px 25px;
    font-weight: normal;  
}
article a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px transparent solid;
    border-radius: 50px;
}
.booking__btn-1{
    background: linear-gradient(#FF79DA, #9356DC);
    color: #fff;
    box-shadow: 2px 2px 2px #f5f5f5;
}
.booking__btn-1:hover{
   opacity: .9;
 }

 /*--Aside-*/
 aside .steps{
    display: flex;
 }
 aside .button-2, .button-3, .button-4{
    display: flex;
    flex-direction: row;
    align-items: center; 
    text-decoration: none;
    border: 1px transparent solid;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #ceccccec;
    width: 100%;
    height: 70px;
    background-color: #F5F5F5;
    margin-bottom: 20px;
} 
.button-2:hover{
    background: linear-gradient(#f1d9eb, #dfcff3);
    transition: 200ms;
}
.button-3:hover{
    background: linear-gradient(#f1d9eb, #dfcff3);
    transition: 200ms;
}
.button-4:hover{
    background: linear-gradient(#f1d9eb, #dfcff3);
    transition: 200ms;
}
aside .round{
    border-radius: 100%;
    text-align: center;
    background-color: #9356DC;
    color:  #fff;
    font-size: 0.9em;
    position: relative;
    right: 10px;
}
.icon{
    color: grey;
    font-size: 1.3em;
    padding-right: 20px;
    padding-left: 5px;
}
.text{
    font-weight: bold;
    color: #000;
}

/*--Section--*/
.restaurant-card{
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #f2f2f2;
}
.restaurant-card img{
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}
.restaurant-card h3{
    color: #000;
    margin-bottom: 0;
}                                    
.restaurant-card p{
    margin-bottom: 0;
    color: grey;
} 
 .new{
    background-color: #99E2D0;
    font-size: 0.9em;
    text-align: center;
    padding-top: 5px;
    color: #257e67;
    font-weight: bold;
    position: absolute;   
 }
 .fa-heart{
    font-size: 1.2em;
    position: absolute;
    color: grey;
}
.heart .fas{
    color: transparent;
    background-image: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms;
}
.heart:hover .fas{
    opacity: 1;
}
  /*--Footer--*/
  footer{
    background-color: rgb(63, 61, 61); 
    padding: 20px;
 }
 .footer__logo h2{
    color: #fff;
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
}
ul li{
    list-style-type: none;
}
.footer__links a{
    color: #fff; 
    text-decoration: none;
    padding-bottom: 5px;
}
.footer__links i{
   padding-right: 15px;
   color: #fff;
}


/*----------------------Mobile------------------------*/  

@media screen and (max-width: 767px){
/*--Header M--*/
    .header__logo{
        margin: 35px 35px 5px 30px;
    }
    aside{
        margin: 30px 30px;
    }
    .text_color::placeholder{
        color: black;
        font-weight: bold;
        font-size: 1.2em;
    }
    .search__location{
        width: 100%; 
        background-color: #e2e2e2;  
        border-top: 4px #d2d6d6 solid;
    }
/*--article M--*/
    article{
        height: 300px;     
    }
    article a{
        margin-right: 70px;
        margin-left: 70px;
        height: 50px;
    }

/*--Aside M--*/
    aside .steps{
        flex-direction: column;  
     }   
    aside .round{
        width: 23px;
        height: 23px;
        padding-top: 5px;
    }
    
/*--Section M--*/
    #restaurants{
        width: 100%;
        background-color: #F5F5F5; 
    }
    #restaurants h2{
        padding-left: 25px;
        padding-top: 35px; 
        font-size: 1.2em;
    }
    .places{
        flex-direction: column; 
        width: 100%; 
    }  
    .restaurant-card{
        flex-direction: column;
        width: 150%;
        height: 245px; 
        margin-top: 190px;
    }
    .restaurant-card img{
        max-width: 340px;
    } 
    .restaurant-card h3{
        padding-left: 10px;
        font-size: 1.05em;
        margin-top: 15px;
        margin-bottom: 0;
    }
    .restaurant-card p{
        padding-left: 10px;
        font-size: 0.85em;
        margin-top: 5px;
    }
    .details{
        margin-bottom: 10px;
    }
    .new{
        width: 80px;
        height: 22px;
        left: 245px;
        bottom: 195px;
    }
    .fa-heart{
        left: 295px;
        bottom: 30px;
    }

/*--Footer M--*/
    .footer__logo h2{
        font-size: 1.1em;
        padding-left: 40px;
    }
    ul li{
        padding-bottom: 5px;
    }
    .footer__links a{
        font-size: 0.8em;  
    }
    .footer__links i{
       font-size: 0.8em;
    }
}

/*----brekapoint supplémentaire de 485px à 767px----*/   

@media screen and (min-width: 485px) and (max-width: 767px){
    /*--Section--*/
    .restaurant-card img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        min-width: 100%;
        height: 180px;
    }
    .new{
        position: absolute;
        left: 80%;
        bottom: 200px;
        width: 65px;
    }
    .fa-heart{
        position: absolute;
        left: 90%;
        bottom: 25px;
    }
}


/*-----------------------Tablette------------------------*/

@media screen and (min-width: 768px) and (max-width: 1280px){

    /*--Header T--*/
    .header__logo{
        padding-top: 15px;
        padding-bottom: 15px;
    }
     .header__logo a{
        font-size: 1em;
    }
    .search__location{
        background-color: #e2e2e2;  
        border-top: 4px #d2d6d6 solid;
        padding: 15px; 
    }
    .text_color::placeholder{
        color: black;
        font-weight: bold;
        font-size: 1.2em;
    }

    /*--Article T--*/
    article{
        height: 250px;     
    }
    article a{
        margin-right: 200px;
        margin-left: 200px;
        height: 50px;
    }

    /*--Aside T--*/
    aside .steps{
        justify-content: space-between;        
    }   
    .title{
        padding-top: 15px;
        padding-left: 35px;
     }
     aside .button-2, .button-3, .button-4{
         width: 27%;
     } 
    .button-2{
        margin-left: 35px;
    }
    .button-4{
        margin-right: 35px;
     }
    aside .round{
        width: 24px;
        height: 20px;
        padding-top: 7px;
    }
   
 /*--Section T--*/
    #restaurants{
        width: 100%;
        background-color: #F5F5F5; 
    }
    #restaurants h2{
        padding: 40px 35px 0;
    }  
    .restaurants__group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 110px;
    }
    .places{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 45%; 
        margin-bottom: 0;
    }
    .restaurant-card{ 
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        width: 98%;
        height: 210px; 
    }
    .restaurant-card img{
        width: 320px;  
        height: 140px; 
    } 
    .restaurant-card h3{
        font-size: 1.2em;
        padding-right: 120px;
        margin-top: 0;
    }
    .restaurant-card p{
        font-size: 1.05em;
        margin-top: 0;
    }
    .details{
        margin-top: 20px;
        margin-right: 20px;
    }   
    .restaurant-card .fa-heart{
        left: 270px;
        bottom: 30px;  
    }
    .new{
        width: 70px;
        height: 20px;
        left: 230px;
        bottom: 170px;
    }
  
    /*--Footer T--*/
    footer{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
     }
     .footer__logo h2{
        font-size: 1.3em;
        padding-left: 20px;
    }
     ul li{
         padding-right: 35px;
     }
     .footer__links a{
         font-size: 0.9em; 
         padding-bottom: 5px;;    
     }
     .footer__links i{
        font-size: 0.9em;
     }
}



/*----------------Desktop------------*/

@media screen and (min-width: 1280px){

    /*--Header D--*/
   header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 5px 20px;
    }
    .search__location, input{
        background: linear-gradient(#FF79DA, #9356DC);
        border-radius: 25px;
        margin-right: 25px; 
    }
    .search__location{
        margin-bottom: 10px;
        box-shadow: 2px 2px 2px #f5f5f5;
    }
    .search__icon, .input-field{
        display: inline-block;
        padding-left: 25px;   
    }
    input{
        border: none;
        width: 150px;
        height: 50px;  
        padding-left: 15px;
    }
    .text_color::placeholder{
        color: #9356DC;
        font-weight: bold;
        font-size: 1.2em; 
    }
    
    /*--Article D--*/
    article{
        height: 250px;     
    }
    article h1{
        font-size: 1.6em;
    }
    article h2{
        font-size: 1em;  
    }
    article a{
        margin-right: 500px;
        margin-left: 500px;
        height: 60px;  
    }
    .booking__btn-1{
        font-size: 1.2em;
    } 

/*--Aside D--*/
    aside .steps{
        justify-content: space-between;        
    }   
    .title{
        padding-top: 15px;
        padding-left: 15px;
     }
    aside .button-2, .button-3, .button-4{
        width: 30%;
    }
    .button-2{
        margin-left: 18px;
    }
    .button-4{
        margin-right: 18px;
     }
    aside .round{
        width: 25px;
        height: 18px;
        border-radius: 50%;
        padding-top: 6px;
        padding-bottom: 2px;
     }
    .button-2 .round{
        position: relative;
        right: 10px;
    }
    .button-3 .icon, .button-4 .icon{
        padding-left: 20px;
    }
    .text{
        padding-left: 35px;
    }  

    /*--Section D--*/
    #restaurants{
        width: 100%;
        background-color: #F5F5F5; 
    }
    #restaurants h2{
        padding: 30px 25px 25px;
     }
    .restaurants__group{
        display: flex;
        flex-wrap: wrap;;
        justify-content: space-between;
        margin-top: 110px;
    }
     .places{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 25%;     
    }
    .restaurant-card{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 220px; 
    }
    .restaurant-card img{
        width: 310px;
        height: 155px;
    } 
    .details{
        padding: 0; 
        display: inline-block; 
        margin-right: 110px;
    }
    .restaurant-card h3{
        margin-bottom: 0;
        font-size: 1.1em;
    }
    .restaurant-card p{
        margin-top: 0;
        font-size: 0.95em;
    }
   .new{
        width: 70px;
        height: 20px;
        left: 230px;
        bottom: 180px;
        
    }
    .fa-heart{
        left: 270px;
        bottom: 25px;
    }

    /*--Footer D--*/
    footer{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
     }
     .footer__logo h2{
        font-size: 1.5em;
        padding-left: 20px;
    }
     ul li{
         padding-right: 35px;
     }
     .footer__links a{
         font-size: 0.9em; 
     }
     .footer__links i{
        font-size: 0.9em;
     }

 }
     /*--end--*/

                    /*--Loader--*/  
                /* (ball blue, pink, mint)*/
    .load__ball--1{                      
        width: 50px;
        height: 50px;
        background-color: #9356DC;
        border-radius: 50%;
    }

  .progress{
      animation: progress 1000ms;
      }
  

    @keyframes load__ball--1{
        0%{
            transform: ;
        }
    }



    .load__ball--2{
        width: 50px;
        height: 50px;
        background-color: #FF79DA;
        border-radius: 50%;
    }






    .load__ball--3{
        width: 50px;
        height: 50px;
        background-color: #99E2D0;
        border-radius: 50%;
    }

  