/****--Homepage--*****/

/*----------------Common---------------*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .header__logo,  .footer-logo h2{
     font-family: 'Shrikhand', cursive;
 }

 a, p, h1, h2, h3, div, ul, li{
     font-family: 'Roboto', sans-serif;
 }
 a{
    text-decoration: none;
 }

/*--Header--*/
.header__logo{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 15px;
}
.search__location{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}
.search__icon{
    padding-right: 15px;
    padding-left: 25px;
}
input{
    border: transparent;
    background-color: #e2e2e2;
}

/*--Main--*/
/*--article--*/
article{
    width: 100%;   
    background-color: #F5F5F5; 
}
article h1{
    text-align: center;
    font-size: 1.5em;
    padding: 35px 50px 5px;
    margin-top: 0;
}
article h2{
    text-align: center;
    font-size: 1em;
    color: grey;
    padding: 0 30px 25px;
    font-weight: normal;  
}
.booking__btn-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 50px;
    color: #fff;
    box-shadow: 5px 5px 5px #8440D8;
    font-size: 1.1em;
    height: 50px;
}
.booking__btn-1:hover{
    background: linear-gradient(#9356DC,#FF79DA);
    border-radius: 50px; 
    opacity: .85;
    box-shadow: 6px 10px 6px grey;
    transition: 200ms;
}

 /*--Aside-*/
 aside .steps{
    display: flex;
 }
 aside .button-2, .button-3, .button-4{
    display: flex;
    flex-direction: row;
    align-items: center; 
 
    border: 1px transparent solid;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #ceccccec;
    width: 100%;
    height: 70px;
    background-color: #F5F5F5;
    margin-bottom: 20px;
} 
.button-2:hover{
    background: linear-gradient(#f1d9eb, #dfcff3);
    box-shadow: 6px 10px 6px #ceccccec;
    transition: 200ms;
}
.button-3:hover{
    background: linear-gradient(#f1d9eb, #dfcff3);
    box-shadow: 6px 10px 6px #ceccccec;
    transition: 200ms;
}
.button-4:hover{
    background: linear-gradient(#f1d9eb, #dfcff3);
    box-shadow: 6px 10px 6px #ceccccec;
    transition: 200ms;
}
.steps a:hover i::before{
    color: #9356DC;
}
aside .round{
    border-radius: 50%;
    width: 24px;
    height: 20px;
    padding-top: 6px;
    text-align: center;
    background-color: #9356DC;
    color:  #fff;
    font-size: 0.9em;
    position: relative;
    right: 10px;
}
.icon{
    color: grey;
    font-size: 1.3em;
    padding-right: 20px;
    padding-left: 5px;
}
.text{
    font-weight: bold;
    color: #000;
}

/*--Section--*/
#restaurants{
    background-color: #F5F5F5; 
}
.restaurant-card{
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 4px 5px 4px lightgrey;
}
.restaurant-card img{
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}
.restaurant-card h3{
    color: #000;
    margin-bottom: 0;
}                                    
.restaurant-card p{
    margin-bottom: 0;
    color: grey;
} 
 .new{
    background-color: #99E2D0;
    width: 65px;
    height: 16px;
    font-size: 0.9em;
    text-align: center;
    padding: 2px 0;
    color: #257e67;
    font-weight: bold;
    position: absolute; 
    right: 10px;
    top: 10px;  
 }
 .fa-heart{
    font-size: 1.5em;
    color: grey;
    position: absolute;
    right: 15px;
    bottom: 32px;
}
.heart .fas{
    color: transparent;
    background-image: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms;
}
.heart:hover .fas{
    opacity: 1;
}
  /*--Footer--*/
footer{
    background-color: rgb(63, 61, 61); 
    padding: 10px 0;
 }
 .footer__logo h2{
    color: #fff;
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
}
ul li{
    list-style-type: none;
    padding-bottom: 5px;
}
.footer__links a{
    color: #fff; 
    text-decoration: none;
    font-size: 0.8em;
}
li a:hover,
li a:focus{
    text-decoration: underline #FF79DA; 
}
.footer__links i{
    padding-right: 10px;
    font-size: 0.8em;
}


/*----------------------Mobile------------------------*/  

@media screen and (max-width: 767px){

/*--Header M--*/
    .header__logo{
        margin-right: 35px;
        margin-left:  30px;
        
    }
    aside{
        margin: 30px 25px;
    }
    .text_color::placeholder{
        color: black;
        font-weight: bold;
        font-size: 1.2em;
    }
    .search__location{
        width: 100%; 
        background-color: #e2e2e2;  
        border-top: 4px #d2d6d6 solid;
    }

/*--article M--*/
    article{
        height: 300px;     
    }
  .booking__btn-1{
    margin-right: 20vw;
    margin-left: 20vw; 
  }
      

/*--Aside M--*/
    aside .steps{
        flex-direction: column;  
     }   
    
/*--Section M--*/
    #restaurants h2{
        padding-left: 25px;
        padding-top: 35px; 
        font-size: 1.2em;
    }
    .places{
        flex-direction: column; 
        width: 95%;
        padding: 0 12px;
    }   
    .restaurant-card{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 250px; 
    }
    .restaurant-card img{
        width: 100%;
        height: 180px;
    }
    .restaurant-card h3{
        padding-left: 10px;
        font-size: 1.05em;
        margin-top: 15px;
        margin-bottom: 0;
    }
    .restaurant-card p{
        padding-left: 10px;
        font-size: 0.85em;
        margin-top: 5px;
    }
  
/*--Footer M--*/
    .footer__logo h2{
        font-size: 1.1em;
        padding-left: 40px;
    }
    .footer__links a{
        font-size: 0.8em;  
    }
    .footer__links i{
       font-size: 0.8em;
    }
}

/*----brekapoint supplémentaire de 432px à 767px----*/   

@media screen and (min-width: 432px) and (max-width: 767px){

   /*--Aside--*/
    .booking__btn-1{
        margin-right: 25vw;
        margin-left: 25vw; 
      }

    /*--Section--*/
    .restaurant-card{
        height: 260px;
    }
    .restaurant-card img{
       object-position: top;
        height: 190px;
    }
}


/*-----------------------Tablette------------------------*/

@media screen and (min-width: 768px) and (max-width: 1280px){

    /*--Header T--*/
        
     .header__logo a{
        font-size: 1em;
    }
    .search__location{
        background-color: #e2e2e2;  
        border-top: 4px #d2d6d6 solid;
        padding: 15px; 
    }
    .text_color::placeholder{
        color: black;
        font-weight: bold;
        font-size: 1.2em;
    }

    /*--Article T--*/
    article{
        height: 250px;     
    }
    .booking__btn-1{
        margin-right: 30vw;
        margin-left: 30vw;
      }

    /*--Aside T--*/
    aside .steps{
        justify-content: space-between;        
    }   
    .title{
        padding-top: 15px;
        padding-left: 35px;
     }
     aside .button-2, .button-3, .button-4{
         width: 27%;
     } 
    .button-2{
        margin-left: 35px;
    }
    .button-4{
        margin-right: 35px;
     }
   
    /*--Section T--*/
    #restaurants h2{
        padding: 40px 0 20px 35px;
        margin-bottom: 0;
    }  
    .restaurants__group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .places{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 45%; 
        margin-bottom: 30px;
    }
    .restaurant-card{ 
        display: flex; 
        flex-wrap: wrap;
        width: 100%;
        height: 260px; 
    }
   .restaurant-card img{ 
        width: 100%;
        height: 180px;
    } 
    .restaurant-card h3{
        font-size: 1.2em;
        padding-right: 120px;
        margin-top: 0;
    }
    .restaurant-card p{
        font-size: 1.05em;
        margin-top: 0;
    }
    .details{
        margin-top: 5px;
        margin-right: 20px;
        padding-left: 20px;
    }   
    
    /*--Footer T--*/
    footer{
        width: 100%;
        text-align: center;
     }
     .footer__logo h2{
        font-size: 1.3em;
    }
     ul{
       padding-left: 0;
     }
     .footer__links a{
         font-size: 0.9em;    
     }
     .footer__links i{
        font-size: 0.9em;
     }
}


/*----brekapoint supplémentaire de 936px à 1279px----*/   

@media screen and (min-width: 936px) and (max-width: 1279px){
 
     /*--Section--*/
     .restaurant-card img{
        object-position: top;
     }
 }


/*----------------Desktop------------*/

@media screen and (min-width: 1280px){

    /*--Header D--*/
   header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 5px 20px;
    }
    .search__location, input{
        background: linear-gradient(#FF79DA, #9356DC);
        border-radius: 25px;
        margin-right: 25px; 
    }
    .search__location{
        box-shadow: 2px 2px 2px #f5f5f5;
    }
    .search__icon, .input-field{
        display: inline-block;
        padding-left: 25px;  
        align-items: center;
    }
    input{
        border: none;
        width: 150px;
        height: 45px;  
        padding-left: 15px;
    }
    .text_color::placeholder{
        color: #9356DC;
        font-weight: bold;
        font-size: 1.2em; 
    }
    
    /*--Article D--*/
    article{
        height: 250px;     
    }
    .booking__btn-1{
        margin-right: 40vmax;
        margin-left: 40vmax;
      }

/*--Aside D--*/
    aside .steps{
        justify-content: space-between;        
    }   
    .title{
        padding-top: 15px;
        padding-left: 15px;
     }
    aside .button-2, .button-3, .button-4{
        width: 30%;
    }
    .button-2{
        margin-left: 18px;
    }
    .button-4{
        margin-right: 18px;
     }
    .button-2 .round{
        position: relative;
        right: 10px;
    }
    .button-3 .icon, .button-4 .icon{
        padding-left: 20px;
    }
    .text{
        padding-left: 35px;
    }  

    /*--Section D--*/
    #restaurants{
        padding-bottom: 20px;
    }
    #restaurants h2{
        padding: 30px 0 20px 25px;
        margin-bottom: 0;
     }
    .restaurants__group{
        display: flex;
        flex-wrap: wrap;;
        justify-content: space-around;
    }
     .places{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 22%;     
    }
    .restaurant-card{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 220px; 
    }
    .restaurant-card:hover{
        transform: scale(1.05);
    }
    .restaurant-card img{
        width: 100%;
        height: 155px;
    }
    .details{
       display: flex;
       flex-wrap: wrap;
        margin-right: 120px;
        padding: 0 0 0 15px;
    }  
    .restaurant-card h3{
        margin-top: 0;
        font-size: 1.1em;
    }
    .restaurant-card p{
        margin-top: 0;
        font-size: 0.95em;
    }

    /*--Footer D--*/
     footer{
        width: 100%;
        text-align: center;
     }
     .footer__logo h2{
        font-size: 1.6em;
    }
    ul{
        padding-left: 0;
    }
    .footer__links a{
         font-size: 0.9em; 
     }
    .footer__links i{
        font-size: 0.9em;
     }
 }


/*----brekapoint supplémentaire de 1280px à 1281px----*/   

@media screen and (min-width: 1280px) and (max-width: 1281px){
    /*--Section--*/
    .details h3{
        padding-right: 0;
     }
 }

/*----brekapoint supplémentaire à 1329px----*/   

@media screen and (min-width: 1329px){
    /*--Section--*/
    .details{
        padding-left: 20px;
    }
}
 /*--end--*/

/*--------Loader---------*/  
/*--ball blue, pink, mint--*/

    #loader{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #f8e8f4;
        width: 100%;
        height: 100%;
        
        animation: hide 1s linear 3.3s;
        animation-fill-mode: forwards;
    }
    .load{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }   
    .load__ball--1{                    
        width: 70px;
        height: 70px;
        margin-right: 30px;
        background-color: #9356DC;
        border-radius: 50%;   
        -webkit-animation: move 1s ease-in-out;
        animation:  move 1s ease-in-out; 
     }       
     .load__ball--2{
        width: 70px;
        height: 70px;
        margin-right: 5px;
        margin-left: 5px;
        background-color: #FF79DA;
        border-radius: 50%;  
        -webkit-animation: move 2s ease-in-out;
        animation: move 2s ease-in-out;
      }
      .load__ball--3{
        width: 70px;
        height: 70px;
        margin-left: 30px;
        background-color: #99E2D0;
        border-radius: 50%;  
        -webkit-animation: move 3s ease-in-out;
        animation:  move 3s ease-in-out;
      }

@-webkit-keyframes move{
    0% {
      -webkit-transform: translateY(300px) scale(1);
      transform: translateY(300px) scale(1);
    }
    25% {
      -webkit-transform: translateY(0) scale(3);
      transform: translateY(0) scale(3);
    }
    50% {
        -webkit-transform: translateY(300px) scale(1);
        transform: translateY(300px) scale(1);
    }
    75% {
        -webkit-transform: translateY(150px) scale(3);
        transform: translateY(150px) scale(3);
    } 
    100% {
      -webkit-transform: translateY(0) scale(1);
      transform: translateY(0) scale(1);
    }
  }

@-webkit-keyframes hide{
    0%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100%{
        visibility: hidden;
    }
}
